<ion-header>
  <ion-toolbar>
    <ion-title>Kreativität Grenzenlos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=".container">
    <img src="https://www.sas.com/de_de/events/19/e4tc/footer/_jcr_content/par/styledcontainer_285558006/par/image.img.png/1553172388331.png" />
  </div>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Escodia</ion-card-subtitle>
    <ion-card-title>E4TC</ion-card-title >
  </ion-card-header>

  <ion-card-content>
    Web-Apps mit Ionic sind toll
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" color="success"slot="start"></ion-icon>
    <ion-label>ion-item in a card, icon left, button right</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Card Link Item 1 activated</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Card Link Item 2</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Card Button Item 1 activated</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
</ion-card>
</ion-content>
